#define HIV_Random_Choices_DESC_TEXT                                  "TBD"

#define CBNEC_NodeId_DESC_TEXT                                        "TBD"
#define CBNEC_Coverage_DESC_TEXT                                      "TBD"
// Coverage_By_Node_DESC_TEXT needs updating

#define Distribution_Gamma_Shape_DESC_TEXT                            "The shape parameter for the gamma distribution."
#define Distribution_Gamma_Scale_DESC_TEXT                            "The scale parameter for the gamma distribution."

#define CIPM_Property_Name_DESC_TEXT                                  "Individual property to target for matrix replacement."
#define CIPM_New_Matrix_DESC_TEXT                                     "New transmission matrix for specified individual property."

#define Import_Female_Prob_DESC_TEXT                                  "Probability an imported agent will be female."
#define Import_Agent_MC_Weight_DESC_TEXT                              "Sampling weight of imported agents."
#define Probability_of_Infection_DESC_TEXT                            "Probability an imported agent will be infected."

#define Event_Trigger_Distributed_DESC_TEXT                           "Event to be broadcast when intervention is distributed. See list of available events for possible values."
#define Event_Trigger_Expired_DESC_TEXT                               "Event to be broadcast when intervention expires. See list of available events for possible values."

#define Enable_Intervention_Replacement_DESC_TEXT                     "When enabled, distributing intervention will remove all other interventions of the same name on targeted individual."

#define VAC_Vaccine_Route_DESC_TEXT                                   "Transmission route affected by vaccine."
#define VAC_Cost_To_Consumer_DESC_TEXT                                "Unit cost per vaccine."
#define VAC_Vaccine_Take_DESC_TEXT                                    "Probability vaccine will successfully be applied at the specified effect."
#define VAC_Acquire_Config_DESC_TEXT                                  "Waning effect configuration for vaccine acquisition."
#define VAC_Mortality_Config_DESC_TEXT                                "Waning effect configuration for vaccine mortality."
#define VAC_Transmit_Config_DESC_TEXT                                 "Waning effect configuration for vaccine transmission."
#define VAC_Take_Reduced_By_Acquire_Immunity_DESC_TEXT                "Fraction of current acquision immunity applied to vaccine take reduction."
#define VAC_Take_By_Age_Multiplier_DESC_TEXT                          "Multiplier for take probability based on indvidual age in days; uses interpolated value map."
#define VAC_Initial_Acquire_By_Current_Effect_Multiplier_DESC_TEXT    "Multiplier for initial acquire effect based on current total acquire effect; uses interpolated value map."
#define VAC_Initial_Transmit_By_Current_Effect_Multiplier_DESC_TEXT   "Multiplier for initial transmit effect based on current total transmit effect; uses interpolated value map."
#define VAC_Initial_Mortality_By_Current_Effect_Multiplier_DESC_TEXT  "Multiplier for initial mortality effect based on current total mortality effect; uses interpolated value map."

#define DR_ID_List_DESC_TEXT                                          "List of individual IDs for intervention. Usually used in conjunction with event DB and embedded Python in-processing."

#define TRIV_Multiplier_Inbound_DESC_TEXT                             "Multiplier on rate of all connections inbound to targeted node."
#define TRIV_Multiplier_Outbound_DESC_TEXT                            "Multiplier on rate of all connections outbound from targeted node."
#define TRIV_Duration_DESC_TEXT                                       "Time until the travel restrictions intervention expires." 

#define Max_Distributions_Per_Node_DESC_TEXT                          "Maximum number of individuals in the target demographic that will receive this intervention."

#define NIMIV_Transmission_Route_DESC_TEXT                            "Transmssion route to be multiplied by the intervention."
#define NIMIV_Multiplier_By_Duration_DESC_TEXT                        "Value of infectivity multiplier based on the duration of the intervention; uses interpolated value map."

#define NBRMIV_Multiplier_By_Duration_DESC_TEXT                       "Value of birth rate multiplier based on the duration of the intervention; uses interpolated value map."

#define IV_Cost_To_Consumer_DESC_TEXT                                 "Cost per individual receiving the intervention."

#define ISS_Spray_Coverage_DESC_TEXT                                  "The portion of the node that has been sprayed.  This value is multiplied by the current efficacy of the WaningEffect"

#define WE_Age_Multiplier_DESC_TEXT                                   "Multiplier for current effect based on age in years; uses interpolated value map."
#define WE_Box_Duration_DESC_TEXT                                     "Time before decay or expiration of effect."
#define WE_Box_Duration_Distribution_DESC_TEXT                        "Distribution to use when assigning box duration to each instance of the effect."
#define WE_Decay_Time_Constant_DESC_TEXT                              "Time constant used for exponential decay of effect."
#define WE_Durability_Map_DESC_TEXT                                   "Multiplier for current effect based on time in days; uses interpolated value map."
#define WE_Enable_Box_Duration_Distribution_DESC_TEXT                 "Indicates if each instance should draw a box duration from a distribution; otherwise, box duration is the same for all instances."
#define WE_Enable_Initial_Effect_Distribution_DESC_TEXT               "Indicates if each instance should draw an initial value from a beta distribution; otherwise, initial value is the same for all instances."
#define WE_Initial_Effect_DESC_TEXT                                   "Initial value for effect. Value is the same for all agents."
#define WE_Initial_Effect_Distribution_Alpha_DESC_TEXT                "Alpha parameter in beta distribution used to determine initial value for effect."
#define WE_Initial_Effect_Distribution_Beta_DESC_TEXT                 "Beta parameter in beta distribution used to determine initial value for effect."

#define AD_Adherence_Config_DESC_TEXT                                 "Waning effect configuration for probability of drug adherence."
#define AD_Adherence_By_Dose_DESC_TEXT                                "Interpolated value map for probability of drug adherence by dose."

#define NodeHTI_Coverage_vs_Time_Map_DESC_TEXT                        "Interpolated value map for coverage as a function of time."

#define ICE_Count_Events_For_Num_Timesteps_DESC_TEXT                  "TBD"

#define UDBednet_Usage_Config_List_DESC_TEXT                          "Waning effect configuration for bednet usage."

